{varType string $braintreeCLientToken}
{varType string $formId}


{block header}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{_'page.homepage.content.h1'|firstUpper}</h1>
        <p class="fs-5 text-muted">{_'page.homepage.content.description'|firstUpper}</p>
    </div>
{/block}

{block content}
    {include '../blocks/stepWizzard.latte', actualStep: 1}
    {control planSelect}
{/block}