includes:
	- services.neon

application:
	errorPresenter: Error
	mapping:
		*: Mrcek\BraintreeTest\*Module\Presenters\*Presenter

extensions:
	translation: Contributte\Translation\DI\TranslationExtension

translation:
	locales:
		whitelist: [cs]
		default: cs
		fallback: [cs]
	dirs:
		- %appDir%/../translations
	returnOriginalMessage: true

tracy:
	showLocation: true

session:
	expiration: 14 days
	debugger: true
	cookieSamesite: Strict


database:
	dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes