plan_select:
	item.button.buy.trial: vyzkoušejte zdarma
	item.button.buy: zakoupit
	item.button.buy.trial.period.day: dní

step_wizzard:
	step.1: výběr plánu
	step.2: platební informace
	step.3: přehled

subscription_checkout:
	test_payment_card.info: 'Testovací karta:'
	form:
		section.contact.headline: 'Osobní údaje'
		section.card.headline: 'Platební údaje'
		email.label: 'E-mail'
		email.error.invalid_type: 'Vyplňte prosím e-mail v platném tvaru'
		first_name.label: 'Jméno'
		last_name.label: 'Příjmení'
		company.label: 'Firma'
		send.label: 'Zaplatit'
